{% extends 'parts/base.twig' %}

{% block title %}
    Общие квитанции {{ consumer_info.First_name }} {{ consumer_info.Last_name }}
{% endblock %}

{% block content %}
    <h1>Общие квитанции потребителя</h1>
    <h2 class="mb-3">{{ consumer_info.First_name }} {{ consumer_info.Last_name }} ({{ consumer_info.Telephone_number }})</h2>
    {%  include "parts/_message.twig" %}
    <div id="news-list">
        {% for receipt in receipts %}
            <div class="card mb-3">
                <div class="card-header d-flex justify-content-between">
                    <h5>
                        ФИО {{ consumer_info.First_name }} {{ consumer_info.Last_name }} {{ consumer_info.Patronymic }}
                        <br>
                        Адрес <span>г. {{ consumer_info.City_name }}, ул. {{ consumer_info.Street }}, <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            д. {{ consumer_info.House }}</span>
                        {% if consumer_info.Housing != 0 %}
                            <span>, корп. {{ consumer_info.Housing }}</span>
                        {% endif %}
                        <span>, кв. {{ consumer_info.Flat }}.</span>
                    </h5>
                    <h5>
                        Квитанция ЖКУ за период: <br>
                        {{ receipt.Receipt_period|slice(5, 2) }} месяц {{ receipt.Receipt_period|slice(0, 4) }} год
                    </h5>
                </div>
                <div class="card-body d-flex justify-content-between">
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">Вид платежа</th>
                            <th scope="col">Кол-во</th>
                            <th scope="col">Тариф</th>
                            <th scope="col">Нач. по тарифу</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">{{ rates.hot_water.Service_name }}</th>
                            <td>{{ receipt.hot_water_unit }} {{ rates.hot_water.Unit }}</td>
                            <td>{{ rates.hot_water.Unit_cost }}</td>
                            <td>{{ receipt.hot_water_tariff }}</td>
                        </tr>
                        <tr>
                            <th scope="row">{{ rates.cold_water.Service_name }}</th>
                            <td>{{ receipt.cold_water_unit }} {{ rates.cold_water.Unit }}</td>
                            <td>{{ rates.cold_water.Unit_cost }}</td>
                            <td>{{ receipt.cold_water_tariff }}</td>
                        </tr>
                        <tr>
                            <th scope="row">{{ rates.gas.Service_name }}</th>
                            <td>{{ receipt.gas_unit }} {{ rates.gas.Unit }}</td>
                            <td>{{ rates.gas.Unit_cost }}</td>
                            <td>{{ receipt.gas_tariff }}</td>
                        </tr>
                        <tr>
                            <th scope="row">{{ rates.heating.Service_name }}</th>
                            <td>{{ receipt.heating_unit }} {{ rates.heating.Unit }}</td>
                            <td>{{ rates.heating.Unit_cost }}</td>
                            <td>{{ receipt.heating_tariff }}</td>
                        </tr>
                        <tr>
                            <th scope="row">{{ rates.electricity.Service_name }}</th>
                            <td>{{ receipt.electricity_unit }} {{ rates.electricity.Unit }}</td>
                            <td>{{ rates.electricity.Unit_cost }}</td>
                            <td>{{ receipt.electricity_tariff }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">Вид платежа</th>
                            <th scope="col">Кол-во</th>
                            <th scope="col">Тариф</th>
                            <th scope="col">Нач. по тарифу</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">{{ rates.water_disposal.Service_name }}</th>
                            <td>{{ receipt.hot_water_unit + receipt.cold_water_unit }} {{ rates.water_disposal.Unit }}</td>
                            <td>{{ rates.water_disposal.Unit_cost }}</td>
                            <td>{{ receipt.Amount_water_disposal }}</td>
                        </tr>
                        <tr>
                            <th scope="row">{{ rates.overhaul.Service_name }}</th>
                            <td>{{ consumer_info.Living_space }} {{ rates.overhaul.Unit }}</td>
                            <td>{{ rates.overhaul.Unit_cost }}</td>
                            <td>{{ receipt.Amount_overhaul }}</td>
                        </tr>
                        <tr>
                            <th scope="row">{{ rates.housing_maintenance.Service_name }}</th>
                            <td>{{ consumer_info.Living_space }} {{ rates.housing_maintenance.Unit }}</td>
                            <td>{{ rates.housing_maintenance.Unit_cost }}</td>
                            <td>{{ receipt.Amount_housing_maintenance }}</td>
                        </tr>
                        <tr>
                            <th scope="row">{{ rates.intercom.Service_name }}</th>
                            <td>1 {{ rates.intercom.Unit }}</td>
                            <td>{{ rates.intercom.Unit_cost }}</td>
                            <td>{{ receipt.Amount_intercom }}</td>
                        </tr>
                        <tr>
                            <th scope="row">ВСЕГО</th>
                            <td></td>
                            <td></td>
                            <td>
                                {{ receipt.Total_tariff_amount }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-body d-flex justify-content-between mt-0">
                    {% if receipt.Is_paid == 0 %}
                        <h5>
                            По тарифам сумма к оплате: {{ receipt.Total_tariff_amount }} <br>
                            ИТОГО: {{ receipt.Total_summ }}
                        </h5>
                        <h5>
                            Оплатить до: {{ receipt.Deadline_date }} <br>
                            Дней просрочки: {{ receipt.Overdue_days }}
                        </h5>
                    {% else %}
                        <h5>
                            По тарифам сумма к оплате: {{ receipt.Total_tariff_amount }} <br>
                            ИТОГО ОПЛАЧЕНО: {{ receipt.Total_summ }}
                        </h5>
                        <h5>
                            Надо было оплатить до: {{ receipt.Deadline_date }} <br>
                            Дней просрочки: {{ receipt.Overdue_days }}
                        </h5>
                    {% endif %}
                </div>
                <div class="card-footer text-muted">
                    {% if user.Is_staff == 0 %}
                        <a href="/pay-receipt/{{ receipt.Receipt_HCS_id }}/" class="btn">Оплатить квитанцию</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}