{% extends 'parts/base.twig' %}

{% block title %}
    Редактирование {{ form_news.Title }}
{% endblock %}

{% block content %}
    <h1>Редактирование {{ form_news.Title }}</h1>
    {% include 'parts/_message.twig' %}
    <form method="post" action="/edit-news-post/{{ form_news.News_id }}/">
        <div class="mb-3">
            <label for="Title" class="form-label">Название новости</label>
            <input type="text" name="Title" class="form-control" id="Title" value="{{ form_news ? form_news.Title }}" required>
        </div>
        <div class="mb-3">
            <label for="Content" class="form-label">Содержимое новости</label>
            <input type="text" name="Content" class="form-control" id="Content" value="{{ form_news.Content }}" required>
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input" name="Is_published" type="checkbox" value="on" id="Is_published">
            <label class="form-check-label" for="Is_published">
                Опубликовано
            </label>
        </div>
        <button type="submit" class="btn">Изменить новость</button>
    </form>
{% endblock %}