{% extends 'parts/base.twig' %}

{% block title %}
    Список Ваших пользователей
{% endblock %}

{% block content %}
    <h2 class="mb-3">Список пользователей Управляющей компании: {{ user.Company_name }}</h2>
    {% include 'parts/_message.twig' %}
    <div id="consumer-list">
        {% for consumer in consumers %}
            <div class="card mb-3">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ consumer.Last_name }} {{ consumer.First_name }} {{ consumer.Patronymic }}</h5>
                    <p class="card-text">
                        <b>Дата рождения:</b> {{ consumer.Birthday }}
                        <br>
                        <b>Email:</b> {{ consumer.Consumer_email }}
                        <br>
                        <b>Телефон:</b> {{ consumer.Telephone_number }}
                    </p>
                </div>
                <div class="card-footer text-muted d-flex justify-content-evenly">
                    <a href="/read-more-consumer/{{ consumer.Consumer_id }}/" class="btn">Узнать больше</a>
                    <a href="/add-reading/{{ consumer.Consumer_id }}/" class="btn">Добавить показание</a>
                </div>
            </div>
        {% endfor %}
    </div>
{%  endblock %}