{% extends 'parts/base.twig' %}

{% block title %}
    Список пользователей
{% endblock %}

{% block ajax %}
    <script src="../../static/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            let num = 4;
            let inProcess = false;
            // это будет запускаться тогда, когда страница будет прокручиваться
            $(window).scroll(function () {
                if ($(window).scrollTop() + $(window).height() >= $(document).height() && !inProcess) {
                    $.ajax({
                        url: "../../src/additionConsumer/load.php",
                        method: "GET",
                        data: {"num": num},
                        beforeSend: function () {
                            inProcess = true;
                        }
                    }).done(function (data) {
                        data = jQuery.parseJSON(data)
                        if (data.length > 0) {
                            $.each(data, function (index, data) {
                                $("#consumer-list").append(
                                    "<div class=\"card mb-3\"><div class=\"card-body\">" +
                                    "<h5 class=\"card-title\">" + data.Last_name + " " + data.First_name + " " + data.Patronymic + "</h5>" +
                                    "<p class=\"card-text\"> <b>Дата рождения:</b> " + data.Birthday + "<br><b>Email:</b> " + data.Consumer_email +
                                    "<br><b>Телефон:</b> " + data.Telephone_number + "</p></div>" +
                                    "<div class=\"card-footer text-muted\">" +
                                    "<a href=\"/read-more-consumer/" + data.Consumer_id + "/\" class=\"btn btn-success\">Узнать больше</a></div></div>"
                                )
                            });
                            inProcess = false;
                            num += 4;
                        }
                    });
                }
            })
        })
    </script>

{% endblock %}

{% block content %}
    <h2 class="mb-3">Список пользователей сервиса</h2>
    {% include 'parts/_message.twig' %}
    <div id="consumer-list">
        {% for consumer in consumers %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ consumer.Last_name }} {{ consumer.First_name }} {{ consumer.Patronymic }}</h5>
                    <p class="card-text">
                        <b>Дата рождения:</b> {{ consumer.Birthday }}
                        <br>
                        <b>Email:</b> {{ consumer.Consumer_email }}
                        <br>
                        <b>Телефон:</b> {{ consumer.Telephone_number }}
                    </p>
                </div>
                <div class="card-footer text-muted">
                    <a href="/read-more-consumer/{{ consumer.Consumer_id }}/" class="btn btn-success">Узнать больше</a>
                </div>
            </div>
        {% endfor %}
    </div>
{%  endblock %}