{% extends 'parts/base.twig' %}

{% block title %}
    {{ user.First_name }} {{ user.Last_name }}
{% endblock %}

{% block content %}
    <h2>Личные данные</h2>
    <table class="table">
        <tbody>
        <tr>
            <td>ФИО:</td>
            <td>
                <span>{{ user.First_name }} {{ user.Last_name }} {{ user.Patronymic }}</span>
            </td>
        </tr>
        <tr>
            <td>Дата рождения:</td>
            <td>
                <span>{{ user.Birthday }}</span>
            </td>
        </tr>
        <tr>
            <td>Телефон:</td>
            <td>
                <span>{{ user.Telephone_number }}</span>
            </td>
        </tr>
        <tr>
            <td>Адрес электронной почты:</td>
            <td>
                <span>{{ user.Consumer_email }}</span>
            </td>
        </tr>
        <tr>
            <td>Серия и номер паспорта:</td>
            <td>
                <span>{{ user.Passport_series }} {{ user.Passport_number }}</span>
            </td>
        </tr>
        <tr>
            <td>Адрес проживания:</td>
            <td>
                <span>г. {{ consumer_info.City_name }}, ул. {{ consumer_info.Street }}, д. {{ consumer_info.House }}</span>
                {% if consumer_info.Housing != 0 %}
                    <span>, корп. {{ consumer_info.Housing }}</span>
                {% endif %}
                <span>, кв. {{ user.Flat }}.</span>
            </td>
        </tr>
        </tbody>
    </table>
    <h2>Моя управляющая компания</h2>
    <table class="table">
        <tbody>
        <tr>
            <td>Наименование:</td>
            <td>
                <span>{{ consumer_info.Company_name }}</span>
            </td>
        </tr>
        <tr>
            <td>Директор компании:</td>
            <td>
                <span>{{ consumer_info.Full_name_boss }}</span>
            </td>
        </tr>
        <tr>
            <td>Телефон компании:</td>
            <td>
                <span>{{ consumer_info.Telephone_number }}</span>
            </td>
        </tr>
        <tr>
            <td>Адрес электронной почты:</td>
            <td>
                <span>{{ consumer_info.Company_email }}</span>
            </td>
        </tr>
        <tr>
            <td>Адрес:</td>
            <td>
                <span>{{ consumer_info.Address }}</span>
            </td>
        </tr>
        </tbody>
    </table>
{%  endblock %}