{% extends 'parts/base.twig' %}

{% block title %}
    Контакты
{% endblock %}

{% block content %}
    <h1>Контакты</h1>
    <table class="table">
        <tbody>
        <tr>
            <td>Наименование управляющей компании:</td>
            <td>
                <ul>
                    <li>{{ contact_form.Company_name }}</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Адрес:</td>
            <td>
                <ul>
                    <li>{{ contact_form.Address }}</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Телефон:</td>
            <td>
                <ul>
                    <li>{{ contact_form.Telephone_number }}</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Адрес электронной почты:</td>
            <td>
                <ul>
                    <li>{{ contact_form.Company_email }}</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Официальный сайт в сети Интернет:</td>
            <td>
                <ul>
                    <li><a href="{{ contact_form.Company_link }}">{{ contact_form.Company_link }}</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Режим работы:</td>
            <td>
                <ul>
                    <li>Понедельник: с 8 час. 00 мин. до 17 час. 00 мин.</li>
                    <li>Вторник: с 8 час. 00 мин. до 17 час. 00 мин.</li>
                    <li>Среда: с 8 час. 00 мин. до 17 час. 00 мин.</li>
                    <li>Четверг: с 8 час. 00 мин. до 17 час. 00 мин.</li>
                    <li>Пятница: с 8 час. 00 мин. до 15 час. 45 мин.</li>
                    <li>Суббота, воскресенье – выходной</li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}