{% extends 'parts/base.twig' %}

{% block title %}
    {{ consumer_info.Last_name }} {{ consumer_info.First_name }}
{% endblock %}

{% block content %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">
                Личные данные пользователя {{ consumer_info.Last_name }}
                {{ consumer_info.First_name }} {{ consumer_info.Patronymic }}
            </h5>
            <p class="card-text">
                <b>Дата рождения:</b> {{ consumer_info.Birthday }}
            </p>
            <p>
                <b>Email:</b> {{ consumer_info.Consumer_email }}
            </p>
            <p>
                <b>Телефон:</b> {{ consumer_info.Telephone_number }}
            </p>
            <p>
                <b>Серия паспорта:</b> {{ consumer_info.Passport_series }}
            </p>
            <p>
                <b>Номер паспорта:</b> {{ consumer_info.Passport_number }}
            </p>
            <p>
                <b>Лицевой счет по жилищно-коммунальным услугам:</b> {{ consumer_info.Personal_acc_hcs }}
            </p>
            <p>
                <b>Лицевой счет по оплате городского телефона:</b> {{ consumer_info.Personal_acc_landline_ph }}
            </p>
            <p>
                <b>Лицевой счет по оплате междугороднего телефона:</b> {{ consumer_info.Personal_acc_long_dist_ph }}
            </p>
            <p>
                <b>Метраж квартиры:</b> {{ consumer_info.Living_space }}
            </p>
            <p>
                <b>Адрес проживания:</b>
                <span>г. {{ consumer_info.City_name }}, ул. {{ consumer_info.Street }}, д. {{ consumer_info.House }}</span>
                {% if consumer_info.Housing != 0 %}
                    <span>, корп. {{ consumer_info.Housing }}</span>
                {% endif %}
                <span>, кв. {{ consumer_info.Flat }}.</span>
            </p>
        </div>
    </div>
{% endblock %}